.twilight_theme {
	background-color: #1F4788;

	h1, h2, h3 {
		color: #E8E8E8;
	}

	p, select, option {
		color: #C8C8C8;
	}

	.timeline, select, option {
		background-color: #1D4381;
	}

	.linear_clock {
		#dot {
			background-color: #D57835;

			p {
				color: #E8E8E8;
			}
		}
	}
}